
.hero-content {
  max-width: 60%;
}

/* KATTA SARLAVHA */
.hero-content h1 {
  font-size: 64px;
  font-weight: 900;
  color: #6d0cf6;
  margin: 0;
  line-height: 1.1;
}

/* TA’RIF */
.hero-content p {
  font-size: 22px;
  margin: 14px 0;
  color: #0be829;
}

/* NARX */
.hero-content h3 {
  font-size: 40px;
  font-weight: bold;
  color: #20cab9;
}

/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 768px) {
  .hero-slide {
    padding: 24px;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 34px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-content h3 {
    font-size: 26px;
  }
}
